version: "3.9"

services:
  frontend:
    image: node:24
    container_name: ferreteria_frontend_dev
    working_dir: /app
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
    command: sh -c "npm install --legacy-peer-deps && npm run dev -- --host"

# docker-compose -f docker-compose.dev.yml up