version: "3.9"

services:
  frontend:
    image: node:24
    container_name: ferreteria_frontend_dev
    working_dir: /app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    command: sh -c "npm install --legacy-peer-deps && npm run dev -- --host 0.0.0.0"
    tty: true
    stdin_open: true
    depends_on:
      - backend

  backend:
    image: node:24
    container_name: ferreteria_backend_dev
    working_dir: /app
    volumes:
      - ./backend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    command: sh -c "npm install && npm run dev"
    tty: true
    stdin_open: true
    depends_on:
      - database_ferreteria

  database_ferreteria:
    image: mysql:latest
    container_name: database_ferreteria
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: FerreTeria_238238
      MYSQL_DATABASE: ferreteria
    ports:
      - "3306:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql