@import "tailwindcss";
@tailwind utilities;

@plugin "@midudev/tailwind-animations";
@plugin "@iconify/tailwind4";

@layer base {
    body {
        @apply bg-gray-100 min-h-screen;
    }

    #root {
        @apply min-h-screen;
    }

    .title-h1 {
        @apply text-4xl md:text-5xl font-bold text-center text-gray-900 mb-1.5;
    }

    .title-h2 {
        @apply text-3xl md:text-4xl font-semibold text-center text-gray-900 mb-1.5;
    }

    .title-h3 {
        @apply text-2xl md:text-3xl font-semibold text-center text-gray-900 mb-1.5;
    }

    .title-h4 {
        @apply text-xl md:text-2xl font-semibold text-center text-gray-900 mb-1.5;
    }

    .title-h5 {
        @apply text-lg md:text-xl font-semibold text-center text-gray-900 mb-1.5;
    }

    .button-add {
        @apply bg-orange-600 hover:bg-orange-700 text-white font-semibold py-3 px-6 rounded-lg transition-all duration-200 flex items-center gap-2 shadow-lg hover:shadow-xl transform hover:-translate-y-0.5;
    }
}